*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363738;
}
.resultBox{
    height: 50px;
    width: 100%;
    background-color: whitesmoke;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}
button{
    height: 40px;
    border-radius: 50px;
    border: none;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}
.inputBtn:hover{
    border: 1px solid black;
}
.buttons{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 8px;
}   
.container{
    width: 470px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #8d9797;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

#equalTo{
    background-color: rgb(255, 126, 21);
    color: white;
}